html, body {
	background: #EEE;
	font: 12px sans-serif;
	margin: 0;
}
html, body, table, tbody, tr, td {
	height: 100%
}
table {
	table-layout: fixed;
	border-collapse: collapse;
	width: 100%;
}
td {
	width: 33%;
	vertical-align: top;
	text-align: center;
}
#result, textarea {
	height: 99%;
	width: 99%;
	margin: auto;
	font: 1em monospace;
	text-align: left;
	white-space: pre-wrap;
}
.footer {
	position: absolute;
	padding: .2em .5em;
	right: 10px;
	bottom: 0;
}

.error {
	color: #600;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	/* In Firefox and Opera all these stuff disables default outline for textarea. Do it just for WebKit. */
	textarea {
		border: 1px solid #DDD;
	}
	textarea:focus {
		border-color: #6699cc;
	}
	.error {
		background-color: #fffafa;
		border-color: #deb1b1;
		outline-color: #ff7f7f;
	}
	.error:focus {
		border-color: #c46969;
	}
}
