* {
	margin: 0;
	padding: 0;
}
html, body {
	background: #EEE;
}
html, body, table, tbody, tr, td {
	height: 100%
}
table {
	border-collapse: collapse;
	width: 100%;
}
td {
	width: 33%;
	vertical-align: top;
}
pre, textarea {
	height: 99%;
	width: 99%;
	margin: auto;
	border: 0;
	font: 1em monospace;
}
ins, del {
	display: inline-block;
}
del {
	text-decoration: none;
	color: #b30000;
	background: #fadad7;
}
ins {
	background: #eaf2c2;
	color: #406619;
	text-decoration: none;
}
del.key {
	border: 1px solid #f8a4a4;
	border-bottom-width: 0;
}
ins.key {
	border: 1px solid #a3ce4c;
	border-top-width: 0;
}

span {
	color: #b2b2b2;
}
del span {
	color: #dfb2b2;
}
ins span {
	color: #c2ccb8;
}
